
.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form{
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    padding: 0px 40px 20px 40px;
    box-shadow: 2px 2px 5px #999
}

.login__form ul{
    padding-left: 0;
    list-style: none;
}

.login__form ul li{
    margin-bottom: 10px;
}

.login__form ul li input{
    padding: 4px;
    font-size: 18px;
}

.btn{
    color: #ffffff;
    background-color: #005691;
    border-radius: 20px;
    border: 1px #005691 solid;
    font-size: 15px;
    width: 50%;
    padding: 5px;
}