.a__add {
  width: 40%;
}

.div__add {
  width: 15%;
  border-radius: 30px;
  box-shadow: 1px 1px 2px #999;
  display: flex;
  margin: 2% 5%;
}


.btn_Nnome {
  display: block;
}

.lbl__add {
  width: 15%;
  margin: 5px auto;
}

.lbl__add img {
  width: 100%;
}

.div__add h6 {
  text-decoration: none;
  margin: auto;
  color: black;
}

.div__add h6:hover {
  text-decoration: none;
  color: black;
}
