/* body{
    height: 200vh;
} */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popupbody{
    height: auto;
  }

  #popupBody {
    width: 30%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
    position: relative;
    margin: 5% auto;
    /* transition: all 5s ease-in-out; */
  }

  #popupBodyBig {
    width: 70%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
    position: relative;
    margin: 5% auto;
    /* transition: all 5s ease-in-out; */
  }
  
  #cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #004a7c;
    transition: all 200ms;
  }
  
  .popupContent ul {
    list-style: none;
    width: 70%;
    margin: auto;
    padding: 0;
  }
  
  .txt_input{
    width: 100%;
    font-size: 1vw;
    height: 20px;
    margin-bottom: 10px;
  }
  
  .popupContent ul li select {
    width: 100%;
    font-size: 1vw;
    height: 25px;
    margin-bottom: 10px;
  }
  
  .btn_guardar {
    width: 50%;
    height: 25px;
    margin: 0% 25%;
    color: #ffffff;
    background-color: #005691;
    border:0px #005691 solid;
  }
  
  .btn_guardar:hover {
    cursor: pointer;
  }