.table__data {
  width: 90%;
  margin: auto;
}

td{
    width: 20%;
}

.div__options{
    display: flex;
}

.btn__add {
  width: 15%;
  border-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 2px #999;
  display: flex;
  margin: 2% 0;
  border: white 1px solid;
}

.btn__add h6 {
  text-decoration: none;
  margin: auto;
  color: black;
}

.btn__add h6:hover {
  text-decoration: none;
  color: black;
}

.btn__option {
  width: 50%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  border: white 1px solid;
  border: 0;
}

.btn__option label {
  width: 50%;
  margin: 0;
}

.btn__option label:hover {
  cursor: pointer;
}
