.table__data {
  width: 90%;
  margin: auto;
}

.btn_none {
  display: none;
}

.container__td{
    width: 20%;
}

.add__a {
  width: 100%;
}

.add__label,
.add__label img {
  width: 50%;
}

.add__label img:hover {
  cursor: pointer;
}

.container__flex {
  display: flex;
}
